*swp
dist/
target/
docs/
ictk*jar
notes/
devutils/
clover_html/
notes.txt
Makefile
junk/
foo*
bar*
foo.pl
*.pl
notes.txt
_*
*.class
todo.txt
pat*
*.good
*.old
*.java1
*.bak
*foo
*.1
*/**/*txt
**/ictk/boardgame/chess/net/ics/fics/event/FICSExamineCommitParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSExamineNavigationBeginParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSExamineNavigationEndParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSExamineNavigationEndVariationParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSExaminerOtherParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSExaminerSelfAlreadyParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSExaminerSelfParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSObserverSelfParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/data/FICSExamineCommitParser*.data
**/ictk/boardgame/chess/net/ics/fics/event/data/FICSObserverSelfParser*.data
**/ictk/boardgame/chess/net/ics/event/ICSChallengeEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSChannelEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSGameCreatedEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSGameNotificationEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSGameResultEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSGenericBoardEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSGenericEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSKibitzEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSPlayerConnectionEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSSeekAdEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSSeekClearEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSSeekRemoveEvent*.java
**/ictk/boardgame/chess/net/ics/event/ICSTellEvent*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSChallengeParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSChannelParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSExamineNavigationParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSExamineRevertParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSGameCreatedParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSGameNotificationParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSGameResultParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSKibitzParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSPlayerConnectionParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSPlayerNotificationParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSSeekAdParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSSeekAdReadableParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSSeekClearParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSSeekRemoveParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSShoutParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSTellParser*.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSBoardUpdateStyle12ParserTest.java
**/ictk/boardgame/chess/net/ics/fics/event/FICSMoveListParserTest.java


