*swp
build
notes/
devutils/
clover_html/
notes.txt
Makefile
junk/
foo*
bar*
foo.pl
*.pl
notes.txt
_*
*.class
todo.txt
pat*
*.good
*.old
*.java1
*.bak
*foo
*.1
src/**/*txt
*/ictk/boardgame/chess/net/ics/fics/event/FICSExamineCommitParser*.java
*/ictk/boardgame/chess/net/ics/fics/event/FICSExamineNavigationBeginParser*.java
*/ictk/boardgame/chess/net/ics/fics/event/FICSExamineNavigationEndParser*.java
*/ictk/boardgame/chess/net/ics/fics/event/FICSExamineNavigationEndVariationParser*.java
*/ictk/boardgame/chess/net/ics/fics/event/FICSExaminerOtherParser*.java
*/ictk/boardgame/chess/net/ics/fics/event/FICSExaminerSelfAlreadyParser*.java
*/ictk/boardgame/chess/net/ics/fics/event/FICSExaminerSelfParser*.java
*/ictk/boardgame/chess/net/ics/fics/event/FICSObserverSelfParser*.java
*/ictk/boardgame/chess/net/ics/fics/event/data/FICSExamineCommitParser*.data
*/ictk/boardgame/chess/net/ics/fics/event/data/FICSObserverSelfParser*.data
